#result__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.card__container{
  display: flex;
  margin-bottom: 50px;
  padding: 0;
  flex-direction: column;
  width: 22rem;
  height: 25rem;
  // overflow: hidden;
  background-color: #E7E7E7;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card__thumb{
  border-radius: inherit;
}
.card__content{
  font-size: 0.8rem;
}
.card__head{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
// .recipe__name{}
// .time{}
// .timing{}
// .clock{}

.card__info{  
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
// .card__details{}
// .ingredients{}
// .ingredient{}
// .quant{}

.card__desc{
  overflow: hidden;
}
.description{
  text-overflow: ellipsis;
}

