@use '../abstracts/color' as clr;

.tag-list {
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  padding-inline-start: unset;
  list-style: none;
}

.tag-list__item {  
  color: clr.$neutral-font;  
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  width: fit-content;  

  &[data-type="ingredients"] {
    background-color: clr.$bg-first;
  }
  &[data-type="appliance"] {
    background-color: clr.$bg-second;
  }
  &[data-type="ustensils"] {
    background-color: clr.$bg-third;
  }
}

.tag__close {
    cursor: pointer;
    border: 1px solid #AEAEAE;
    border-radius: 25px 25px;
    font-weight: bold;
    margin-left: 1rem;
    border: none;
    outline: none;

  &:before {
    content: "×";
  }
}