@use '../abstracts/color' as clr;

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 1rem;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid clr.$neutral-bg;
}

#myInput:focus {
  outline: 3px solid clr.$neutral-bg;
}