@use '../abstracts/color' as clr;

#mainField {
  width: 90vw;
  height: 3rem;
  background-color: clr.$neutral-bg;
  border-radius: 5px;
  border-style: hidden;
  margin-block: 0.8rem;
  padding-inline: 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-image: url('../../icons/search_.svg');
  background-position: right;
  background-repeat: no-repeat;

  &:focus-visible {
    outline: none;
    border-radius: 5px;
    border-style: hidden;
  }
  &:focus {
    border-color: #565e64;
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
  }
}