$logo:hsla(0, 58%, 56%, 1);//#D04F4F

$neutral-font : rgb(255, 255, 255);

$bg-first:hsla(216, 92%, 58%, 1); //#3282F7
$bg-first-hover:rgba(49, 128, 246, 0.301); //#3282F7
$bg-second:hsla(152,61%,57%,1); //#4dd494
$bg-third:hsla(6, 81%, 63%, 1); //#ED6454
$neutral-bg : hsla(30,3%,85%,1); //#D9D8D7
// $neutral-bg : hsla(0,0%,91%,1); //#E7E7E7