header,
main {
  width: 90vw;
  margin: 0 auto;
}
.homepage__link{
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.logo {
  background: url(../../icons/logo.png) center center / 100% 100% no-repeat;
}